.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 460px auto;
  column-gap: 40px;
  row-gap: 48px;
  margin: 80px 0 0;
}

.place:last-child {
  margin-bottom: 90px;
}

.place__title {
  max-width: 460px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.place__image {
  width: 100%;
  height: 460px;
  grid-column: 1;
  object-fit: cover;
  margin-bottom: 48px;
  box-shadow: 10px 10px 25px #000;
}

.place__image:hover {
  opacity: 0.5;
}

.place__nft-button {
  width: 356px;
  width: 100%;
  margin: 0;
  padding: 13px 20px;
  height: 48px;
  grid-area: 3/1;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 4px;
  color: #fff;
  box-shadow: 10px 10px 25px #000;
  align-self: start;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
  color: inherit;
}

.place__nft-button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

.place__website {
  max-width: 456px;
  grid-area: 1/2;
  align-content: end;
  padding: 0;
  margin: 0 0 8px;
  width: 100%;
}

.place__website-heading {
  max-width: 85px;
  width: 100%;
  margin: 0 0 8px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #aaaaaa;
  margin: 0 0 8px;
  text-transform: uppercase;
}

.place__website-artist {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

span {
  display: block;
}

.place__paragraph {
  grid-area: 2/2/4/2;
  margin: 0;
}

.place__website-text {
  max-width: 484px;
  width: 100%;
  margin: 0 0 25px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
    margin: 88px auto 90px;
  }
  .place {
    margin: 0 auto 72px;
    column-gap: 28px;
    grid-template-rows: auto 340px auto;
  }
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  .place__image {
    height: 340px;
  }
  .place__nft-button {
    max-width: 340px;
    font-size: 16px;
  }
  .place__website-text {
    font-size: 16px;
    max-width: 352px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 320px;
    margin: 62px 0 40px;
  }
  .place {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 30px;
    margin-bottom: 50px;
  }
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    grid-row: 1;
    margin: 0 16px 0;
  }
  .place__website {
    max-width: 288px;
    grid-area: 2/1;
    margin: 0;
    margin: 0 16px 0;
  }
  .place__website-heading {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .place__website-artist {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .place__image {
    width: 100%;
    height: 320px;
    grid-row: 3;
    margin: 0;
  }
  .place__paragraph {
    max-width: 320px;
    grid-area: 4;
    margin: 0 16px 0;
  }
  .place__website-text {
    font-size: 16px;
    justify-self: center;
  }
  .place__nft-button {
    max-width: 288px;
    margin: 0 16px 0;
    grid-area: 5;
    font-size: 14px;
    line-height: 100%;
  }
}
